body {
    background-color: #f2f2f2;
    font-family: "Times New Roman", Times, serif;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    background-color: #15b494;
    border-radius: 3px;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-weight: bold;

}

.header-break {
    display: none;
}

.summary {
    background-color: white;
    margin: 40px;
    border-radius: 5pt;
}

.summary h1 {
    color:#15b494;
    padding: 20px;
    font-weight:bold;
    font-size: 24pt;
}

.summary hr {
    margin: 20px;
    height: 1px;
    background-color: #ddd;
    opacity: 0.5;
    border: none;
}

.summary p {
    font-size: 14pt;
    line-height: 2;
    padding: 25px;
}

.summary p img {
    height: 50%;
    width: 50%;
    float: left;
}

.summary {
    width: 800px;
}

.visualization {
    background-color: white;
    margin: 40px;
    border-radius: 5pt;
    width: 440px;
    height: 400px;
}

.visualization h1 {
    color:#15b494;
    padding: 10px;
    padding-left: 20px;
    font-weight:bold;
    font-size: 24pt;
    padding: 20px;
}

.gallery img {
    height: 45%;
    width: 45%;
    padding: 15px;
    border: 5px solid white;
    border-radius: 10px;
}

.gallery img:hover {
    border: 5px solid #ddd;
}

@media (max-width:990px) {
    .body {
        background-color: white;
    }

    .navbar {
        background-color: #15b494;
    }

    .header-break {
        display: block;
    }
}